<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se connecter</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <h3 style="text-align: center">S'inscrire</h3>
            <form th:object="${user}" th:action="@{/signup}" method="post">
                <div>
                    <label for="username" class="formbold-form-label"> Nom d'utilisateur </label>
                    <input th:field="${user.username}" type="text" id="username" name="username" placeholder="Nom d'utilisateur" class="formbold-form-input"/>
                </div>
                <div>
                    <label for="password" class="formbold-form-label"> Mot de passe</label>
                    <input th:field="${user.password}" type="password" id="password" name="password" placeholder="Mot de passe" class="formbold-form-input"/>
                </div>
                <div style="text-align: center">
                    <button type="submit" class="formbold-btn">S'inscrire</button>
                </div>
            </form>

            <div style="text-align: center;margin-top: 10px">
                <a th:href="@{/login}">Se connecter</a>
            </div>
        </div>
    </div>
</body>
</html>